APP_PORT=4005
NODE_ENV=development
API_TOKEN=CHANGE_THIS_SECRET_TOKEN
ALLOWED_PRODUCT_KEYS=lengbear777,casinoplus,wingdirect

DB_HOST=localhost
DB_PORT=5432
DB_NAME=capi_log
DB_USER=capi_user
DB_PASSWORD=CHANGE_DATABASE_PASSWORD
