APP_PORT=4005
NODE_ENV=development
API_TOKEN=CHANGE_THIS_SECRET_TOKEN
APP_SECRET=CHANGE_THIS_INTERNAL_APP_SECRET
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=CHANGE_ADMIN_PASSWORD
DEFAULT_ADMIN_DISPLAY_NAME=Administrator

DB_HOST=localhost
DB_PORT=5432
DB_NAME=capi_log
DB_USER=capi_user
DB_PASSWORD=CHANGE_DATABASE_PASSWORD
